/* Global settings */
body {
    background-color: #FCE9E5;
}

.link, a {
    color: #EE6F57;
}

.link:hover, a:hover {
    color: #93240F;
    cursor: pointer;
    text-decoration: none;
}

p, .article ul, .article ol {
    font-size: 1.1rem;
    margin-top: .6em;
    margin-bottom: .6em;
}

::selection {
    background-color: #EE6F57;
    color: #FFF;
}

/* Navbar settings */
.navbar {
    min-height: 80px;
    background-color: #EE6F57;
    color: #00334E;
}

.nav-link, .navbar-brand {
    color: #00334E;
    font-size: 1.3rem;
}

.navbar-brand:hover, .nav-link:hover {
    color: #FFF;
}

/* Article card settings */
.card {
    border: 0;
    background-color: inherit;
}

.card-title {
    color: #393B44;
}

.card-title:hover {
    text-decoration: underline;
}

/* Flatten taglist settings */
ul.taglist {
    display: inline;
    list-style: none;
    padding-left: 0;
}

ul.taglist li {
    display: inline;
}

ul.taglist li:after {
    content: ", ";
}

ul.taglist li:last-child:after {
    content: "";
}

ul.taglist:before {
    content: "Tags: ";
    font-weight: bold;
}

/* TOC settings */
#toc {
    border: 3px solid #E8E8E8;
    padding: 2px 10px;
    border-radius: 3px;
    background-color: #FEF6F5;
}

.sectionlist > li {
    margin-bottom: 0.4em;
}

ul.subsectionlist {
    margin-top: 0;
}

.section-title, .summary {
    margin-top: 1.0em;
    margin-bottom: 0.8em;
}

/* Article specific settings */
.article h4 {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

.quote {
    padding-left: 2rem;
    padding-right: 2rem;
    font-style: italic;
    font-size: 1.1rem;
}

.code {
    border: 1px solid #E8E8E8;
    padding: 1px 5px;
    border-radius: 3px;
    background-color: #FEF6F5;
}

.block-code, .aside {
    overflow: auto;
    width: auto;
    border: solid gray;
    padding: .2em .6em;
    margin-bottom: .6em;
}

.block-code {
    background-color: #FEF6F5;
    border-width: .1em .1em .1em .6em;
}

.aside {
    border-width: .1em .1em .1em .1em;
}

/* Reference settings */
span.sup-reference {
    font-size: 70%;
    vertical-align: super;
}

p.authors {
    display: none;
}

.references {
    margin-top: 3em;
}

/* Tags on tags page setting */
ul.alltags {
    list-style: none;
}

ul.alltags li {
    font-size: 1.3rem;
    margin-top: 1.3rem;
}

.tag {
    color: #EE6F57;
}
